.login-body{
	background-image: url(../images/login6.png);
	background-size:auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.login-content{
	width: 900px;
	height: 560px;
	/*border: 1px solid red;*/
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-image: url(../images/login5.png);
	background-size:auto;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	padding: 0 20px;
	justify-content:space-around;
	border-radius: 10px;
}
.log-left-img{
	width: 456px;
	height: 357px;
}
.login-in img{
	vertical-align: middle;
}
.login-in div{
	padding: 15px 0;
	border-bottom: 1px solid #bababa;
}
.login-in{
	/*text-align: center;*/
	width: 300px;
}
.login-in input{
	padding-left: 10px;
	border: none;
	padding: 10px;
}
.login-t{
	margin-bottom: 25px;
	border-bottom: #00FF00 !important;
	color: #ffbb17;
	font-size: 26px;
}
.login-btn{
	width: 300px;
	height: 20px;
	border-bottom: #00FF00 !important;
	background: #ffbc1b;
	line-height: 20px;
	text-align: center;
	margin-top: 30px;
	border-radius: 5px;
	color: #FFFFFF;
}
.yz input{
	width: 135px;
}
.yz .yz-img{
	width: 110px;
	height: 40px;
}

.gy-wrap{
	
}
.gy-sx{
	display: inline-block;
	width: 260px;
}
.gy-ss{
	height: 35px;
	border: 1px solid #d2d2d2;
	/*width: 260px;*/
	padding: 0 10px;
	display: inline-block;
	position: relative;
	margin: 0 10px;
}
.gy-ss input{
	height: 90%;
	border: 0;
	background: #F8F8F8;
}
.search-icon{
	position: absolute;
    top: 10px;
    right: 12px;
}
.gy-add{
	background: #93bffa;
	width: 120px;
	height: 36px;
	line-height: 36px;
	color: #FFFFFF;
	padding-left: 10px;
	
}
.gy-add img{
	vertical-align: middle;
	margin-right: 10px;
}
.gy-head{
	display:flex;
	justify-content: space-between;
	padding: 15px 20px;
	background: #F8F8F8;
	align-items: center;
}
.gy-right{
	display:flex;
}
.gy-thead{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.gy-td .gy-td-item{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
/*.caozuo img{
	margin-right: 10px;
}*/
.gy-content img{
	margin-right: 10px;
}
.gy-content thead th{
	background: white;
	
	border: 0;
}
.gy-content td{
	border: 0;
}
.gy-content thead{
	border-bottom: 1px solid #e6e6e6;
}

.paging{
	position: absolute;
    bottom: 0;
    right: 10px;
}

.gl-body{
	padding: 20px;
}
.gl-name{
	color: #f8ab14;
}
.gl-wendang{
	margin: 15px 0;
}
.gl-wendang span{
	color: #000000;
	text-decoration:underline;
	margin: 0 6px;
}
.gl-person span{
	color: #000000;

	margin: 0 6px;
}
.gl-line{
	height: 1px;
	border-bottom: 1px solid #DDDDDD;
	margin: 20px 0;
}
.gl-cj{
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
}
.gl-c-top{
	display: flex;
}

.gl-body .gl-fzr{
	float: right;
	color: #333333;
}

.gl-body i{
	color: #999;
	font-style: normal;
}
.gl-wendang ul{
	overflow: hidden;
}
.gl-wendang ul li{
	float: left;
}

.gl-creat img{
	vertical-align: middle;
}
.gl-c-bottom{
	display: flex;
}
.gl-c-t-a{
	width: 5%;
}
.gl-c-t-b{
	width: 20%;
	text-align: center;
}
.gl-c-t-c{
	width: 20%;
	text-align: center;
}
.gl-c-t-d{
	width: 35%;
}
.gl-c-t-e{
	width: 20%;
	text-align: right;
}
.gl-c-bottom{
	margin: 5px 0;
}
.gl-c-top{
	margin: 5px 0;
}
.add-gl{
	margin-top: 10px;
}
.gl-c-bottom input{
	padding: 5px;
}
.gl-wendang{
	display: flex;
}
.gl-wendang li{
	text-align: center;
}
.gl-wendang li img{
	display: inline-block;
}
.gl-wendang li span{
	display: block;
}
.gl-gy,.gl-notice{
	margin-top: 15px;
}

.xmsjjd table thead tr{
	background: #FFFFFF;
}
.xmsjjd table thead tr th{
	border: 0;
}
.xmsjjd table tbody tr td{
	border: 0;
}
.xmsj-btn{
	width: 114px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    background: #ffc24b;
    float: right;
    margin-right: 20px;
}

.calend-xm{
	
}

.calend-xm div{
	width: 140px;
	border: 1px solid #dfdfdf;
	margin: 0 auto;
}
.calend-xm input{
	width: 80px;
	border: 0;
}
