<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdsoon.modular.system.mapper.SsPermissionMapper">
    <resultMap id="BaseResultMap" type="com.sdsoon.modular.system.po.SsPermission">
        <id column="perm_id" jdbcType="INTEGER" property="permId"/>
        <result column="perm_name" jdbcType="VARCHAR" property="permName"/>
        <result column="perm_code" jdbcType="VARCHAR" property="permCode"/>
        <result column="perm_status" jdbcType="INTEGER" property="permStatus"/>
        <result column="perm_description" jdbcType="VARCHAR" property="permDescription"/>
        <result column="perm_parent_id" jdbcType="INTEGER" property="permParentId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    perm_id, perm_name, perm_code, perm_status, perm_description, perm_parent_id
  </sql>
    <select id="selectByExample" parameterType="com.sdsoon.modular.system.po.SsPermissionExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ss_permission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ss_permission
        where perm_id = #{permId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_permission
    where perm_id = #{permId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.sdsoon.modular.system.po.SsPermissionExample">
        delete from ss_permission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.sdsoon.modular.system.po.SsPermission">
    insert into ss_permission (perm_id, perm_name, perm_code, 
      perm_status, perm_description, perm_parent_id
      )
    values (#{permId,jdbcType=INTEGER}, #{permName,jdbcType=VARCHAR}, #{permCode,jdbcType=VARCHAR}, 
      #{permStatus,jdbcType=INTEGER}, #{permDescription,jdbcType=VARCHAR}, #{permParentId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sdsoon.modular.system.po.SsPermission">
        insert into ss_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permId != null">
                perm_id,
            </if>
            <if test="permName != null">
                perm_name,
            </if>
            <if test="permCode != null">
                perm_code,
            </if>
            <if test="permStatus != null">
                perm_status,
            </if>
            <if test="permDescription != null">
                perm_description,
            </if>
            <if test="permParentId != null">
                perm_parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permId != null">
                #{permId,jdbcType=INTEGER},
            </if>
            <if test="permName != null">
                #{permName,jdbcType=VARCHAR},
            </if>
            <if test="permCode != null">
                #{permCode,jdbcType=VARCHAR},
            </if>
            <if test="permStatus != null">
                #{permStatus,jdbcType=INTEGER},
            </if>
            <if test="permDescription != null">
                #{permDescription,jdbcType=VARCHAR},
            </if>
            <if test="permParentId != null">
                #{permParentId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.sdsoon.modular.system.po.SsPermissionExample"
            resultType="java.lang.Long">
        select count(*) from ss_permission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ss_permission
        <set>
            <if test="record.permId != null">
                perm_id = #{record.permId,jdbcType=INTEGER},
            </if>
            <if test="record.permName != null">
                perm_name = #{record.permName,jdbcType=VARCHAR},
            </if>
            <if test="record.permCode != null">
                perm_code = #{record.permCode,jdbcType=VARCHAR},
            </if>
            <if test="record.permStatus != null">
                perm_status = #{record.permStatus,jdbcType=INTEGER},
            </if>
            <if test="record.permDescription != null">
                perm_description = #{record.permDescription,jdbcType=VARCHAR},
            </if>
            <if test="record.permParentId != null">
                perm_parent_id = #{record.permParentId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ss_permission
        set perm_id = #{record.permId,jdbcType=INTEGER},
        perm_name = #{record.permName,jdbcType=VARCHAR},
        perm_code = #{record.permCode,jdbcType=VARCHAR},
        perm_status = #{record.permStatus,jdbcType=INTEGER},
        perm_description = #{record.permDescription,jdbcType=VARCHAR},
        perm_parent_id = #{record.permParentId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.sdsoon.modular.system.po.SsPermission">
        update ss_permission
        <set>
            <if test="permName != null">
                perm_name = #{permName,jdbcType=VARCHAR},
            </if>
            <if test="permCode != null">
                perm_code = #{permCode,jdbcType=VARCHAR},
            </if>
            <if test="permStatus != null">
                perm_status = #{permStatus,jdbcType=INTEGER},
            </if>
            <if test="permDescription != null">
                perm_description = #{permDescription,jdbcType=VARCHAR},
            </if>
            <if test="permParentId != null">
                perm_parent_id = #{permParentId,jdbcType=INTEGER},
            </if>
        </set>
        where perm_id = #{permId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sdsoon.modular.system.po.SsPermission">
    update ss_permission
    set perm_name = #{permName,jdbcType=VARCHAR},
      perm_code = #{permCode,jdbcType=VARCHAR},
      perm_status = #{permStatus,jdbcType=INTEGER},
      perm_description = #{permDescription,jdbcType=VARCHAR},
      perm_parent_id = #{permParentId,jdbcType=INTEGER}
    where perm_id = #{permId,jdbcType=INTEGER}
  </update>

    <!--  -->
    <select id="findPermsByUserId" parameterType="string" resultMap="BaseResultMap">
    SELECT
      DISTINCT
      p.*
    FROM
      ss_user_info i LEFT JOIN ss_role r on i.user_g_role_id=r.role_id
      LEFT JOIN ss_role_permission s on r.role_id=s.role_perm_g_role_id
      LEFT JOIN ss_permission p on s.role_perm_g_perm_id=p.perm_id
      WHERE i.user_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>