<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdsoon.modular.system.mapper.SsProjectDocMapper">
    <resultMap id="BaseResultMap" type="com.sdsoon.modular.system.po.SsProjectDoc">
        <id column="project_doc_id" jdbcType="VARCHAR" property="projectDocId"/>
        <result column="project_doc_old_name" jdbcType="VARCHAR" property="projectDocOldName"/>
        <result column="project_doc_new_name" jdbcType="VARCHAR" property="projectDocNewName"/>
        <result column="project_doc_path" jdbcType="VARCHAR" property="projectDocPath"/>
        <result column="project_g_project_id" jdbcType="VARCHAR" property="projectGProjectId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    project_doc_id, project_doc_old_name, project_doc_new_name, project_doc_path, project_g_project_id
  </sql>
    <select id="selectByExample" parameterType="com.sdsoon.modular.system.po.SsProjectDocExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ss_project_doc
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ss_project_doc
        where project_doc_id = #{projectDocId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ss_project_doc
    where project_doc_id = #{projectDocId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.sdsoon.modular.system.po.SsProjectDocExample">
        delete from ss_project_doc
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.sdsoon.modular.system.po.SsProjectDoc">
    insert into ss_project_doc (project_doc_id, project_doc_old_name, 
      project_doc_new_name, project_doc_path, project_g_project_id
      )
    values (#{projectDocId,jdbcType=VARCHAR}, #{projectDocOldName,jdbcType=VARCHAR}, 
      #{projectDocNewName,jdbcType=VARCHAR}, #{projectDocPath,jdbcType=VARCHAR}, #{projectGProjectId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sdsoon.modular.system.po.SsProjectDoc">
        insert into ss_project_doc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectDocId != null">
                project_doc_id,
            </if>
            <if test="projectDocOldName != null">
                project_doc_old_name,
            </if>
            <if test="projectDocNewName != null">
                project_doc_new_name,
            </if>
            <if test="projectDocPath != null">
                project_doc_path,
            </if>
            <if test="projectGProjectId != null">
                project_g_project_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectDocId != null">
                #{projectDocId,jdbcType=VARCHAR},
            </if>
            <if test="projectDocOldName != null">
                #{projectDocOldName,jdbcType=VARCHAR},
            </if>
            <if test="projectDocNewName != null">
                #{projectDocNewName,jdbcType=VARCHAR},
            </if>
            <if test="projectDocPath != null">
                #{projectDocPath,jdbcType=VARCHAR},
            </if>
            <if test="projectGProjectId != null">
                #{projectGProjectId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.sdsoon.modular.system.po.SsProjectDocExample"
            resultType="java.lang.Long">
        select count(*) from ss_project_doc
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ss_project_doc
        <set>
            <if test="record.projectDocId != null">
                project_doc_id = #{record.projectDocId,jdbcType=VARCHAR},
            </if>
            <if test="record.projectDocOldName != null">
                project_doc_old_name = #{record.projectDocOldName,jdbcType=VARCHAR},
            </if>
            <if test="record.projectDocNewName != null">
                project_doc_new_name = #{record.projectDocNewName,jdbcType=VARCHAR},
            </if>
            <if test="record.projectDocPath != null">
                project_doc_path = #{record.projectDocPath,jdbcType=VARCHAR},
            </if>
            <if test="record.projectGProjectId != null">
                project_g_project_id = #{record.projectGProjectId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ss_project_doc
        set project_doc_id = #{record.projectDocId,jdbcType=VARCHAR},
        project_doc_old_name = #{record.projectDocOldName,jdbcType=VARCHAR},
        project_doc_new_name = #{record.projectDocNewName,jdbcType=VARCHAR},
        project_doc_path = #{record.projectDocPath,jdbcType=VARCHAR},
        project_g_project_id = #{record.projectGProjectId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.sdsoon.modular.system.po.SsProjectDoc">
        update ss_project_doc
        <set>
            <if test="projectDocOldName != null">
                project_doc_old_name = #{projectDocOldName,jdbcType=VARCHAR},
            </if>
            <if test="projectDocNewName != null">
                project_doc_new_name = #{projectDocNewName,jdbcType=VARCHAR},
            </if>
            <if test="projectDocPath != null">
                project_doc_path = #{projectDocPath,jdbcType=VARCHAR},
            </if>
            <if test="projectGProjectId != null">
                project_g_project_id = #{projectGProjectId,jdbcType=VARCHAR},
            </if>
        </set>
        where project_doc_id = #{projectDocId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sdsoon.modular.system.po.SsProjectDoc">
    update ss_project_doc
    set project_doc_old_name = #{projectDocOldName,jdbcType=VARCHAR},
      project_doc_new_name = #{projectDocNewName,jdbcType=VARCHAR},
      project_doc_path = #{projectDocPath,jdbcType=VARCHAR},
      project_g_project_id = #{projectGProjectId,jdbcType=VARCHAR}
    where project_doc_id = #{projectDocId,jdbcType=VARCHAR}
  </update>
    <!--  -->
    <delete id="deletes" parameterType="list">
        DELETE FROM ss_project_doc d WHERE d.project_doc_id IN
        <foreach collection="params" item="param" index="index" open="(" separator="," close=")">
            #{param.projectDocId}
        </foreach>
    </delete>
    <!--  -->
    <delete id="deleteByGId" parameterType="string">
    DELETE FROM ss_project_doc d WHERE d.project_g_project_id = #{projectId}
  </delete>
    <!--  -->
    <update id="updatesGIdById" parameterType="string">
        UPDATE ss_project_doc d SET d.project_g_project_id = #{projectId}
        WHERE d.project_doc_id IN
        <foreach collection="params" item="param" open="(" separator="," close=")">
            <if test="param!=null and param!=''">
                #{param}
            </if>
        </foreach>
    </update>
</mapper>