<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdsoon.modular.system.mapper.SsProMapper">
  <resultMap id="BaseResultMap" type="com.sdsoon.modular.system.po.SsPro">
    <id column="pro_id" jdbcType="VARCHAR" property="proId" />
    <result column="pro_status" jdbcType="INTEGER" property="proStatus" />
    <result column="pro_create_time" jdbcType="DATE" property="proCreateTime" />
    <result column="pro_end_time" jdbcType="DATE" property="proEndTime" />
    <result column="pro_old_doc_name" jdbcType="VARCHAR" property="proOldDocName" />
    <result column="pro_new_doc_name" jdbcType="VARCHAR" property="proNewDocName" />
    <result column="pro_doc_path" jdbcType="VARCHAR" property="proDocPath" />
    <result column="pro_leader_name" jdbcType="VARCHAR" property="proLeaderName" />
    <result column="pro_level" jdbcType="INTEGER" property="proLevel" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pro_id, pro_status, pro_create_time, pro_end_time, pro_old_doc_name, pro_new_doc_name, 
    pro_doc_path, pro_leader_name, pro_level, pro_name
  </sql>
  <select id="selectByExample" parameterType="com.sdsoon.modular.system.po.SsProExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ss_pro
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_pro
    where pro_id = #{proId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ss_pro
    where pro_id = #{proId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sdsoon.modular.system.po.SsProExample">
    delete from ss_pro
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sdsoon.modular.system.po.SsPro">
    insert into ss_pro (pro_id, pro_status, pro_create_time, 
      pro_end_time, pro_old_doc_name, pro_new_doc_name, 
      pro_doc_path, pro_leader_name, pro_level, 
      pro_name)
    values (#{proId,jdbcType=VARCHAR}, #{proStatus,jdbcType=INTEGER}, #{proCreateTime,jdbcType=DATE}, 
      #{proEndTime,jdbcType=DATE}, #{proOldDocName,jdbcType=VARCHAR}, #{proNewDocName,jdbcType=VARCHAR}, 
      #{proDocPath,jdbcType=VARCHAR}, #{proLeaderName,jdbcType=VARCHAR}, #{proLevel,jdbcType=INTEGER}, 
      #{proName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sdsoon.modular.system.po.SsPro">
    insert into ss_pro
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proStatus != null">
        pro_status,
      </if>
      <if test="proCreateTime != null">
        pro_create_time,
      </if>
      <if test="proEndTime != null">
        pro_end_time,
      </if>
      <if test="proOldDocName != null">
        pro_old_doc_name,
      </if>
      <if test="proNewDocName != null">
        pro_new_doc_name,
      </if>
      <if test="proDocPath != null">
        pro_doc_path,
      </if>
      <if test="proLeaderName != null">
        pro_leader_name,
      </if>
      <if test="proLevel != null">
        pro_level,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="proStatus != null">
        #{proStatus,jdbcType=INTEGER},
      </if>
      <if test="proCreateTime != null">
        #{proCreateTime,jdbcType=DATE},
      </if>
      <if test="proEndTime != null">
        #{proEndTime,jdbcType=DATE},
      </if>
      <if test="proOldDocName != null">
        #{proOldDocName,jdbcType=VARCHAR},
      </if>
      <if test="proNewDocName != null">
        #{proNewDocName,jdbcType=VARCHAR},
      </if>
      <if test="proDocPath != null">
        #{proDocPath,jdbcType=VARCHAR},
      </if>
      <if test="proLeaderName != null">
        #{proLeaderName,jdbcType=VARCHAR},
      </if>
      <if test="proLevel != null">
        #{proLevel,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sdsoon.modular.system.po.SsProExample" resultType="java.lang.Long">
    select count(*) from ss_pro
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ss_pro
    <set>
      <if test="record.proId != null">
        pro_id = #{record.proId,jdbcType=VARCHAR},
      </if>
      <if test="record.proStatus != null">
        pro_status = #{record.proStatus,jdbcType=INTEGER},
      </if>
      <if test="record.proCreateTime != null">
        pro_create_time = #{record.proCreateTime,jdbcType=DATE},
      </if>
      <if test="record.proEndTime != null">
        pro_end_time = #{record.proEndTime,jdbcType=DATE},
      </if>
      <if test="record.proOldDocName != null">
        pro_old_doc_name = #{record.proOldDocName,jdbcType=VARCHAR},
      </if>
      <if test="record.proNewDocName != null">
        pro_new_doc_name = #{record.proNewDocName,jdbcType=VARCHAR},
      </if>
      <if test="record.proDocPath != null">
        pro_doc_path = #{record.proDocPath,jdbcType=VARCHAR},
      </if>
      <if test="record.proLeaderName != null">
        pro_leader_name = #{record.proLeaderName,jdbcType=VARCHAR},
      </if>
      <if test="record.proLevel != null">
        pro_level = #{record.proLevel,jdbcType=INTEGER},
      </if>
      <if test="record.proName != null">
        pro_name = #{record.proName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ss_pro
    set pro_id = #{record.proId,jdbcType=VARCHAR},
      pro_status = #{record.proStatus,jdbcType=INTEGER},
      pro_create_time = #{record.proCreateTime,jdbcType=DATE},
      pro_end_time = #{record.proEndTime,jdbcType=DATE},
      pro_old_doc_name = #{record.proOldDocName,jdbcType=VARCHAR},
      pro_new_doc_name = #{record.proNewDocName,jdbcType=VARCHAR},
      pro_doc_path = #{record.proDocPath,jdbcType=VARCHAR},
      pro_leader_name = #{record.proLeaderName,jdbcType=VARCHAR},
      pro_level = #{record.proLevel,jdbcType=INTEGER},
      pro_name = #{record.proName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdsoon.modular.system.po.SsPro">
    update ss_pro
    <set>
      <if test="proStatus != null">
        pro_status = #{proStatus,jdbcType=INTEGER},
      </if>
      <if test="proCreateTime != null">
        pro_create_time = #{proCreateTime,jdbcType=DATE},
      </if>
      <if test="proEndTime != null">
        pro_end_time = #{proEndTime,jdbcType=DATE},
      </if>
      <if test="proOldDocName != null">
        pro_old_doc_name = #{proOldDocName,jdbcType=VARCHAR},
      </if>
      <if test="proNewDocName != null">
        pro_new_doc_name = #{proNewDocName,jdbcType=VARCHAR},
      </if>
      <if test="proDocPath != null">
        pro_doc_path = #{proDocPath,jdbcType=VARCHAR},
      </if>
      <if test="proLeaderName != null">
        pro_leader_name = #{proLeaderName,jdbcType=VARCHAR},
      </if>
      <if test="proLevel != null">
        pro_level = #{proLevel,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdsoon.modular.system.po.SsPro">
    update ss_pro
    set pro_status = #{proStatus,jdbcType=INTEGER},
      pro_create_time = #{proCreateTime,jdbcType=DATE},
      pro_end_time = #{proEndTime,jdbcType=DATE},
      pro_old_doc_name = #{proOldDocName,jdbcType=VARCHAR},
      pro_new_doc_name = #{proNewDocName,jdbcType=VARCHAR},
      pro_doc_path = #{proDocPath,jdbcType=VARCHAR},
      pro_leader_name = #{proLeaderName,jdbcType=VARCHAR},
      pro_level = #{proLevel,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR}
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
</mapper>